body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* All sections should take one screen length at minimum */
/*div#homepage, section {
    min-height: 90vh;
}
section {
    margin-top:50px;
}*/
section h1 {
    padding-top:10vh;
    min-height:90vh;
}
#homepage {
    min-height:90vh;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* format main navbar */
div#mainnav.navbar-fixed-top {
    border-bottom: 10px solid red;
    /*border-top: 10px solid red;*/
    background-color: #f4f4f4;
    background-color: white;
}

div#mainnav.navbar-fixed-top {
    border-width: 5px 0px 5px;
}

div#mainnav.navbar-fixed-top a, #mainnav.navbar-brand {
    color: navy;
}